* {
  margin: 0;
  padding: 0;
  font-size: 28px;;
}

.page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 500px;
  background-color: #DDD78D;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.photo img{
    max-width: 250px;
    border-radius: 250px;
}

.header .intro{
    font-size: 28px;
    width: 65%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header .external-profiles{
    display: flex;
    justify-content: space-evenly;
}

.section {
  width: 100%;
  height: 600px;
  background-color: #DCBF85;
}

.skills{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    

}

.skill-list{
    width: 80%;
    margin-top: 10px;
    margin-left: 50px;
    list-style-type:circle;
    font-size: 0.7em;
    
}

.skill-list li{

}

.work-experience{
    background-color: #8B635C;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
}

.footer {
  width: 100%;
  height: 50px;
  font-size: 0.3em;
  background-color: #93A29B;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
