body {
	margin: 0 auto;
	padding: 0;
}
.page {
	align-items: center;
	background-color: #424242;
	display: flex;
	flex-direction: column;
	font-family: "Roboto";
	justify-content: space-around;
}
h2 {
	margin-top: 25px;
}
.header {
	align-items: center;
	background-color: #357cc4;
	background-image: linear-gradient(#357cc4, #c0d1e2);
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	margin-top: 5px;
	overflow: hidden;
	width: 98%;
}
.header-left {
	margin: 15px;
}
.photo img {
	border-radius: 250px;
	max-width: 250px;
}
.header .intro {
	display: flex;
	flex-direction: column;
	font-size: 28px;
	justify-content: space-around;
	width: 65%;
}
.header .intro p {
	margin-top: 15px;
}
.header .external-profiles {
	display: flex;
	justify-content: space-around;
}
.header .external-profiles a,
a:visited,
a:active {
	color: black;
	text-decoration: none;
}
.fa-linkedin {
	color: #0d66c2;
}
.fa-quora {
	color: #b92b27;
}
.skills {
	background-image: linear-gradient(#357cc4, #c0d1e2);
	border-radius: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 98%;
}
.skills {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.skill-list {
	font-size: 1.5em;
	list-style-type: circle;
	margin-bottom: 40px;
	margin-left: 150px;
	width: 90%;
}
.content {
	display: flex;
	justify-content: space-between;
	width: 98%;
}
.work-experience {
	align-items: center;
	background-image: linear-gradient(#357cc4, #c0d1e2);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	width: 33%;
}
.work-places {
	font-size: 1.5em;
	list-style-type: none;
	margin-top: 10px;
}
.designation {
	font-weight: bolder;
}
.time-period {
	font-size: 0.7em;
	font-style: italic;
}
.work-places img {
	width: 100px;
}
.work-places li {
	margin-top: 20px;
}
.sophos-logo {
	background-color: blue;
	padding: 5px;
}
.certifications {
	align-items: center;
	background-image: linear-gradient(#357cc4, #c0d1e2);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	width: 33%;
}
.certificate-list {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.certificate-list ul {
	font-size: 1.4em;
	margin-top: 25px;
	text-decoration: none;
}
.certificate-list li {
	list-style-type: none;
	text-decoration: none;
}
.certificate-list {
	margin-top: 15px;
}
.certificate-list img {
	height: auto;
	max-width: 225px;
	width: 100%;
}
.articles {
	align-items: center;
	background-image: linear-gradient(#357cc4, #c0d1e2);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	width: 33%;
}
.article-list {
	margin-top: 15px;
}
.article-list a {
	text-decoration: none;
}
.article-list a:visited,
a::after {
	color: black;
	text-decoration: none;
}
.article-list li,
a {
	color: black;
	font-size: 1.3em;
	list-style-type: decimal;
	margin-top: 25px;
	text-decoration: none;
	width: 70%;
}

.article-list>li>a>.fas{
	margin-left: 10px;
}
.footer {
	align-items: center;
	background-image: linear-gradient(#357cc4, #c0d1e2);
	border-radius: 10px;
	color: black;
	display: flex;
	font-size: 1em;
	height: 30px;
	justify-content: space-around;
	margin-bottom: 5px;
	margin-top: 10px;
	width: 98%;
}
.footer a {
	color: black;
	font-size: 1em;
}