* {
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 500px;
  background-color: #5BC0EB;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
}

.photo img{
    max-width: 250px;
    border-radius: 250px;
}

.header .intro{
    font-size: 28px;
}

.header .external-profiles{
    display: flex;
    justify-content: space-evenly;
}

.section {
  width: 100%;
  height: 400px;
}

.skills{
    background-color: #fffb91;
}

.work-experience{
    background-color: #f44b37;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: #bfe6d4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
