.Portfolio {
  text-align: center;
  min-width: auto;

  
}

.Portfolio-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: white;
}
