.Position {
  background-color: white;
 
  display: flex;
  flex-direction: column;
  justify-content:  center;
  align-items: flex-start;
  font-size: calc(10px + 1vmin);
  color: black;
  width: 100%;
}

