.WorkExperience-header{
  color: black;
  font-size: calc(10px + 5vmin);
}

.WorkExperience-experience{
  background-color: white;
  min-height: 30vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: blue;
  width: 100%;
}

